@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFAF00;      
}



header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav {
    padding: 1.4rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 1;
}

.logo img { 
    margin-left: 330px;
    width: 55px;
}

/* menu */
/* .menu {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

#hamburger-menu {
    color: #000;
    transition: color 0.3 ease;
}

#hamburger-menu:hover {
    color: #973131;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

#dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    border-radius: 10px;
}

#dropdown-menu a:hover {
    background-color: #f1f1f1;
} */
/* menu */

.nav-center {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    flex: 13;
    gap: 35px;
}

nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    transition: color 0.3s;
    text-align: center ;
}

nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid #000000;
    transform: scaleX(0);
    transition: 0.2s linear;
}

nav a:hover::after {
    transform: scaleX(0.5);
}

/* .dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropbtn {
    background-color: transparent;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    top: 40px;
    right: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

/* search */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
}

.search-bar button {
    background-color: #973131;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #c23f3f;
}

.search-bar button#clear-btn {
    background-color: transparent;
    color: #973131;
    border: none;
    cursor: pointer;
}

.search-bar button#clear-btn:hover {
    color: #c23f3f;
}
/* search end */

/* .login-btn, .register-btn {    
    background-color: #973131;
    color: white;   
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn {
    color: #000;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.register-btn {
    color: #973131;
    background-color: #000;
}

.register-btn:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #973131;
    color: #000;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #000;
    color: #973131;
}

.login-btn:hover, .register-btn:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */

main {
    margin: auto;
}

/* CSS KONTAK */
.link a {
    position: relative;
    color: #333;
    padding-bottom: 0.75rem;
  }
  
  .link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #973131;
    transition: all 0.3s ease;
  }
  
  .link a:hover::after {
    width: 75%;
  }
  
  .btn1 {
    padding: 10px;
    margin-right: 20px;
  }
  
  .btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #973131;      
    color: #333;                
    padding: 0.5rem 2rem;            
    font-size: 1rem;               
    cursor: pointer;              
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .btn:hover {
    background-color: #973131;
    color: #000;             
  }
  
  .contact-section {
    display: flex;
    color: #333;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 0px;
    margin: 330px;
  }
  
  .title-contact {
    color: #973131;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    border-bottom: 4px solid #333;
    border-top: 4px solid #333;
    font-weight: 700;
    border-radius: 100%;
  }

  .info-content h2 {
    font-size: 1.5rem;
    margin-bottom: 6px;
  }

  .info-content h4 {
    margin-bottom: 6px;
    font-size: 1.5rem;
  }
  
  .form-content, .info-content {
    padding: 20px;
    flex: 1;
    max-width: 800px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .form-content input, textarea {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgba(51, 51, 51, 1);
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-radius: 6px;
    transition: border-bottom-width 0.3s ease;
    outline: none;
}

.form-content input:focus, textarea:focus {
    border-bottom-width: 6px;
}

  
 .form-content button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #973131;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
  }
  
  .form-content button:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #c23f3f;
    color: #973131;
  }
  
  .info-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .info-content p {
    margin-bottom: 1.5rem;
  }
/* CSS KONTAK END */

/* FOOTER */
footer {
    border-top: 5px solid #222;
    background-color: #973131;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
}

.footer-content div {
    flex: 1;
    min-width: 200px;
}

.footer-content h4 {
    font-size: 21px;
    margin-bottom: 10px;
    color: #FFAF00;
}

.footer-content p, .footer-content a {
    color: #222;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-content a:hover {
    color: #FFAF00;
    transform: scale(1.05);
}

.footer-content i {
    margin-right: 8px;
}

.footer-content a i {
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-content a:hover i {
    color: #FFAF00;
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #222;
}

.footer-center {
    color: #222;
    font-size: 14px;
    text-decoration: none;
}

.social-icons {
    color: #973131;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    display: flex;
}

.social-icons .icon {
    color: #333;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icons .icon:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* FOOTER END */ 

/* swwet alert */
.swal2-confirm.custom-btn {
    background-color: #973131; 
    color: #fff; 
}

.swal2-confirm.custom-btn:hover {
    background-color: #c23f3f; /* Warna tombol saat hover */
}
/* swwet alert */