@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: space-between;
    background-color: #FFAF00;
    height: 100%;
    flex-direction: column;
}
/* CSS NAVBAR DAN HEADER */
header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 9999; 
}

nav {
    padding: 1.4rem;
    display: flex;
    align-items: center;
    width: 100%;
}

/* menu */
/* .menu {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

#hamburger-menu {
    color: #000;
    transition: color 0.3 ease;
}

#hamburger-menu:hover {
    color: #973131;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

#dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    border-radius: 10px;
}

#dropdown-menu a:hover {
    background-color: #f1f1f1;
} */
/* menu */

.logo {
    flex: 1;
}

.logo img {
    margin-left: 280px;
    width: 55px;
}

.nav-center {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    flex: 13;
    gap: 35px;
}

nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    transition: color 0.3s;
    text-align: center ;
}

/* search */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
}

.search-bar button {
    background-color: #973131;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #c23f3f;
}

.search-bar button#clear-btn {
    background-color: transparent;
    color: #973131;
    border: none;
    cursor: pointer;
}

.search-bar button#clear-btn:hover {
    color: #c23f3f;
}
/* search */

/* swwet alert */
.swal2-confirm.custom-btn {
    background-color: #973131; 
    color: #fff; 
}

.swal2-confirm.custom-btn:hover {
    background-color: #c23f3f; /* Warna tombol saat hover */
}
/* swwet alert */

/* CSS LOGIN DAN REGIS */
/* .login-btn, .register-btn {    
    background-color: #973131;
    color: white;   
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 6px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn {
    color: #000;
    margin-right: 15px;
    opacity: 0;
    transition: background-color 0.3s ease;
    animation: slideInLeft 1s forwards;
    animation-delay: 2.5s;
}

.register-btn {
    color: #fff;
    background-color: #333;
    opacity: 0;
    animation: slideInUp 1s forwards;
    animation-delay: 3s;
}

.register-btn:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #973131;
    color: #000;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #000;
    color: #fff;
}

.login-btn:hover, .register-btn:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */


@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* CSS LOGIN DAN REGIS END */

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 300px 40px;
    margin-top: 10px; 
}

.content-left {
    max-width: 600px;
}

.content-left h1 {
    font-size: 55px;
    margin-bottom: 5px;
    opacity: 0;
    animation: slideInLeft 1s forwards;
    animation-delay: 0.5s;
    color: #333;
}

.content-left p {
    font-size: 18px;
    margin-bottom: 50px;
    opacity: 0;
    animation: slideInLeft 1s forwards;
    animation-delay: 1.5s;
    color: #222;
}

span {
    color: #973131;
}

.container-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid #000;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.container-nav a:hover::after {
    transform: scaleX(0.5);
}

/* SWIPER SLIDE CSS */
.swiper-container {
    width: 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: slideInRight 1s forwards;
    animation-delay: 2s;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}
/* SWIPER SLIDE CSS END */

/* ANIMASI */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* ANIMASI END */

/* CSS TENTANG KAMI */
section .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.about-card {
    height: 50%;
    width: 100%;
    max-width: 1325px;
    display: flex;
    background-image: url(images/bg-about.png);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px 40px 40px;
    margin-top: 80px;
    opacity: 0;
    animation: slideInUp 1s forwards;
}

.about-text {
    flex: 1;
    padding-right: 20px;
    opacity: 0;
    animation: slideInLeft 1s forwards;
    animation-delay: 1s;
}

.about-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 15px;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
    opacity: 0;
    animation: slideInRight 1s forwards;
    animation-delay: 1s;
}

.about-image img {
    width: 80%;
    margin-left: 100px;
    border-radius: 20px;
}   

span {
    color: #973131;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);

        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* CSS TENTANG KAMI END */

/* CSS PRODUK */
.container {
    width: 1100px;
    margin: auto;
    transition: 0.5s;
}

.title {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 350px;  
}

.title h1 {
    font-size: 36px;
    color: #333;
}

span {
    color: #973131;
}

.shop {
    position: relative;
}

.shop img {
    width: 40px;
}

.shop span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.shop:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}

.list .item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.list .item:hover {
    transform: translateY(-10px);
}

.list .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.list .item .title {
    font-weight: 600;
    margin: 10px 0;
}

.list .item .price {
    color: #973131;
    font-size: 18px;
    margin-bottom: 10px;
}

.list .item button {
    background-color: #973131;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list .item button:hover {
    background-color: #c23f3f;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453e3b;
    height: 100vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.card h1 {
    color: #E0A75E;
    font-weight: 600;
    margin: 0;
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #973131;
    border-bottom: 1px solid #E0A75E;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.card .checkOut .total {
    background-color: #f9f9f9;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #973131;
}

.card .checkOut .closeShopping {
    background-color: #973131;
    color: #fff;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    padding: 10px 0;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 80px;
}

.listCard li button {
    background-color: #fff5;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.listCard .count {
    margin: 0 10px;
}

/* CSS PRODUK END */

/* CSS KONTAK */
.link a {
    position: relative;
    color: #333;
    padding-bottom: 0.75rem;
  }
  
  .link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #973131;
    transition: all 0.3s ease;
  }
  
  .link a:hover::after {
    width: 75%;
  }
  
  .btn1 {
    padding: 10px;
    margin-right: 20px;
  }
  
  .btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #973131;      
    color: #333;                
    padding: 0.5rem 2rem;            
    font-size: 1rem;               
    cursor: pointer;              
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .btn:hover {
    background-color: #973131;
    color: #000;             
  }
  
  .contact-section {
    display: flex;
    color: #333;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 200px;
  }
  
  .title-contact {
    color: #973131;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    border-bottom: 4px solid #333;
    border-top: 4px solid #333;
    font-weight: 700;
    border-radius: 100%;
  }

  .info-content h2 {
    font-size: 1.5rem;
    margin-bottom: 6px;
  }

  .info-content h4 {
    margin-bottom: 6px;
    font-size: 1.5rem;
  }
  
  .form-content, .info-content {
    padding: 20px;
    flex: 1;
    max-width: 800px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .form-content input, textarea {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgba(51, 51, 51, 1);
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-radius: 6px;
    transition: border-bottom-width 0.3s ease;
    outline: none;
}

.form-content input:focus, textarea:focus {
    border-bottom-width: 6px;
}

  
 .form-content button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #973131;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
  }
  
  .form-content button:hover {
    background-color: rgba(0, 123, 255, 0);
    border: 1px solid #c23f3f;
    color: #973131;
  }
  
  .info-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .info-content p {
    margin-bottom: 1.5rem;
  }
/* CSS KONTAK END */

/* FOOTER */
footer {
    border-top: 5px solid #222;
    background-color: #973131;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
}

.footer-content div {
    flex: 1;
    min-width: 200px;
}

.footer-content h4 {
    font-size: 21px;
    margin-bottom: 10px;
    color: #FFAF00;
}

.footer-content p, .footer-content a {
    color: #222;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-content a:hover {
    color: #FFAF00;
    transform: scale(1.05);
}

.footer-content i {
    margin-right: 8px;
}

.footer-content a i {
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-content a:hover i {
    color: #FFAF00;
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #222;
}

.footer-center {
    color: #222;
    font-size: 14px;
    text-decoration: none;
}

.social-icons {
    color: #973131;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    display: flex;
}

.social-icons .icon {
    color: #333;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icons .icon:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* FOOTER END */    